.nft-list {
  .totalCard {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    top: 275px;
    left: 50%;
    transform: translateX(-50%);
    color: white;

    @media (min-width: '640px') {
      top: 250px;
    }
  }
}
