.navbar {
  font-family: 'Audiowide', sans-serif;
  position: absolute;
  z-index: 1000;
  width: 100%;
  max-width: 1800px;
  margin: auto;
  padding: 0 50px;

  &-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    .logo {
      cursor: pointer;
      display: block;
    }

    li {
      color: white;
    }

    .navbar-links {
      display: flex;

      .link {
        padding: 20px;

        span {
          transition: 500ms;
        }
        &:hover {
          span {
            color: #fff;
            text-shadow: 0 0 10px #fff;
          }
        }
      }
    }
  }
}
