.navbar {
  font-family: 'Audiowide', sans-serif;
  position: absolute;
  z-index: 1000;
  width: 100%;
  max-width: 1800px;
  left: 50%;
  transform: translateX(-50%);

  &-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    .logo {
      cursor: pointer;
      display: block;
    }

    li {
      color: white;
    }

    .navbar-links {
      display: flex;

      .link {
        position: relative;
        margin-right: 30px;
        cursor: pointer;
        transition: 500ms;

        &::after {
          content: '';
          width: 100%;
          height: 2px;
          background-color: #d186f7;
          opacity: 0;
          position: absolute;
          bottom: -10px;
          left: 0;

          transition: all ease-in-out 300ms;
        }

        &:hover {
          color: #fff;
          text-shadow: 0 0 10px #fff;

          &::after {
            opacity: 1;
          }
        }

        &.active {
          text-shadow: 0 0 10px #fff;
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}
