.cardList-container {
  position: relative;
  z-index: 999;
  padding: 10rem 5rem;
  text-align: center;

  .cardList {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    justify-content: center;
    align-items: center;

    @media (min-width: 640px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .searchDiv {
    .searchNote {
      display: block;
      color: white;
      margin-bottom: 1rem;
    }
    .searchBox {
      border-radius: 7px;
      border: 1px solid white;
      margin-bottom: 5rem;
      background-color: black;
      opacity: 0.5;
      color: white;
      font-size: 15px;
      font-weight: bold;
      padding: 10px;
    }
  }
}
