.cardList-container {
  position: relative;
  z-index: 999;
  max-width: 1400px;
  margin: auto;
  padding-top: 10rem;
  text-align: center;

  @media (max-width: 1000px) {
    max-width: 600px;
  }

  .cardList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;

    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .searchDiv {
    .searchNote {
      display: block;
      color: white;
      margin-bottom: 1rem;
    }
    .searchBox {
      border: 1px solid white;
      margin-bottom: 5rem;
      background-color: black;
      opacity: 0.5;
      color: white;
      font-size: 15px;
      font-weight: bold;
      padding: 10px;
    }
  }
}
