* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

// For BUTTON
button,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100px;
  border: 1px solid #d186f7;
  background-color: rgb(8, 8, 8);
  color: white;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
  font-family: 'Audiowide', sans-serif;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity ease-in-out 300ms;

  &:hover {
    border: 2px solid #d186f7;
    opacity: 1;
  }
}

//Scrollbar

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: black;
  border-left: 1px solid rgb(27, 27, 27);
}

::-webkit-scrollbar-thumb {
  background-color: #d186f7;
}
